<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace务必和接口的全类名一致 -->
<mapper namespace="MyBatisix.dao.UserMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>


  <select id="selectStudentByid" resultType="Student" useCache="true">
      SELECT sid,sname FROM student WHERE sid=#{xxx}
  </select>
    
    <select id="selectStudentByid2" resultType="Student">
        SELECT sid,sname FROM student WHERE  sid=#{xxx}
    </select>

    <insert id="addStudent" parameterType="Student">
        INSERT INTO student (sname) VALUE (#{sname})
    </insert>

    <select id="findAll" resultType="Student">
        SELECT sid,sname FROM student
    </select>



    </mapper>